[submodule "TooManyBulletsHost"]
	path = TooManyBulletsHost
	url = https://github.com/ellementul/TooManyBulletsHost.git
[submodule "TooManyBulletsClient"]
	path = TooManyBulletsClient
	url = https://github.com/ellementul/TooManyBulletsClient.git
[submodule "data"]
	path = TMS-browser
	url = https://github.com/ellementul/TMS-browser.git
